$dark-red: #800000;
$light-red: #ED1C24;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

@mixin blur($blur) {
      -webkit-filter: $blur;
      -moz-filter: $blur;
      -o-filter: $blur;
      -ms-filter: $blur;
      filter: $blur;
    }

header {
    
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),url(/slamburger/img/thisone.jpg) {
        filter: blur(5px);
        }
    background-size: cover;
    background-position: cover;
    height:100vh;
    background-attachment: fixed;
    
    }

body {
    font-family: "Titillium Web", "Helvetica Neue", Helevetica, Arial, sans-serif;
    a {
        font-family: "Lobster", "Helvetica Neue", Helevetica, Arial, sans-serif;
        font-size: 200%;
        color: $dark-red;
    }
   
    #{$a-tags} {
        color: $light-red;
        text-decoration: none;
    }
    
    #{$a-tags-hover} {
        color: $light-red;
        text-decoration: none;
    }
    
    ul {
        float: right;
    }
    
}

.navbar {
    margin-top: 75px;
}

nav {
  
}

.row1 {
    margin-top: 25px;
}

